<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009470360932-90tsl357h5rvedfqde36md4d9if3q2lh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009470360932-90tsl357h5rvedfqde36md4d9if3q2lh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1009470360932-rto6nk48km8gg54i4n58n1ebcugrl5q5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD43aUl4kZRmxZnrUFERGvHWmlQmIcXc2c</string>
	<key>GCM_SENDER_ID</key>
	<string>1009470360932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.k3rnl.joinme</string>
	<key>PROJECT_ID</key>
	<string>joinme-2aa7a</string>
	<key>STORAGE_BUCKET</key>
	<string>joinme-2aa7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009470360932:ios:63818e9007d521ef5cbe71</string>
	<key>DATABASE_URL</key>
	<string>https://joinme-2aa7a.firebaseio.com</string>
</dict>
</plist>